
<snap-drawers>

  <div snap-drawer>
    left
  </div>

  <div snap-drawer="right">
        <div class="topcoat-list">
          <h3 class="topcoat-list__header">Category</h3>
          <ul class="topcoat-list__container">
            <li class="topcoat-list__item">
              Item
            </li>
            <li class="topcoat-list__item">
              Item
            </li>
            <li class="topcoat-list__item">
              Item
            </li>
          </ul>
        </div>
  </div>
  
</snap-drawers>

<snap-content>
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item left quarter">
                <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button">
                    <span class="topcoat-icon topcoat-icon--menu-stack"></span>
                </a>
            </div>
            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Topcoat Drawer</h1>
            </div>
            <div class="topcoat-navigation-bar__item right quarter">
                <a class="topcoat-icon-button--quiet">
                    <span class="topcoat-icon topcoat-icon--edit"></span>
                </a>
            </div>
        </div>
        
        <div class="topcoat-list">
          <h2 class="topcoat-list__header">Lugares de interes</h2>
          <ul class="topcoat-list__container">
            <li class="topcoat-list__item my-repeat-animation" ng-repeat="lit in data">
                {{lit.title}}
            </li>
          </ul>
        </div>      
        
  <button snap-toggle>Toggle Left</button>
  <button snap-toggle="right">Toggle Right</button>
  <ul class="dark-tab-bar">
    <a href="index.html" class="down">GUIDE</a>
    <a href="settings.html">SETTINGS</a>
</ul>
</snap-content>
 
  

